# .gitignore

# Файлы окружения и секреты - ИГНОРИРОВАТЬ
.env
kurylin-bot-docker.env
google_credentials.json

# Системные папки и кэш Python
.venv/
venv/
env/
__pycache__/
*.pyc

# Папка, которую мы удалили
scripts/